body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html,
#root,
body,
#root>div {
    height: 100%;
    min-width: 580px;
    overflow-x: hidden;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.loading-screen {
    height: 100vh;
    width: 1000vw;
    background-color: beige;
}


/* ------------------ Detail Produtc ------------------- */

.btn-cart {
    width: 100%;
    padding: 12px;
    background-color: black;
    border: 1px solid black;
    color: white;
    transition: .4s;
}

.btn-cart:hover {
    width: 100%;
    padding: 12px;
    background-color: white;
    border: 1px solid black;
    color: black;
}

.ulImgProduct {
    width: 8vw;
    position: sticky;
    float: left;
    z-index: 20;
    top: 20vh;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
}

.productImgBg {
    background-color: #f0f0f0;
}

.ulImgProduct img {
    width: 100%;
    background-color: #f0f0f0;
}

.ImageContainer {
    margin: 0 0 0 9vw;
}

.divDetails {
    top: 20vh;
    margin: 0 auto;
    width: 60%;
    position: sticky;
}

.divDetails:hover .more {
    visibility: visible;
}

.prix {
height: 2vw;    
}

.description {
    margin: 0.5vh;
}
.imgScroll {width: 45vw!important;}

.imgScroll div:nth-child(3) {
    margin: 0vh 0 0 5.4vw!important;
    width: 38vw!important;
    height: 94vh!important;
}

.imgScroll div:nth-child(2)>div {
    display: none!important;
}

.complete {
    display: none;
}

.more {
    visibility: hidden;
    cursor: pointer;
    color: rgb(104, 104, 104);
}

#selectSize,
#selectColor {
    width: 50%;
    padding: 1vw;
    margin-bottom: 1vw;
    background-color: transparent;
}

.selectChoice {
    color: #adadad;
}

@media (max-width: 768px) {
    .divDetails {
        margin: 6vh auto
    }
    .imgScroll div:nth-child(2) {
        display: none;
    }
    .imgScroll div:nth-child(3) {
        display: none
    }

.imgScroll {width: 90vw!important;}

}

.sndrow { background-color: #f0f0f0;}

/*---------- homepage ----------*/

.HomeJumbotron {
    height: 75vh;
}

.HomeJumbotron div {
    color: white;
    font-size: 4vh;
    position: absolute;
    bottom: 50px;
    left: 50px
}

.bg-gray {
    background: #f0f0f0;
}

.HomeArticleTItle {
    font-weight: bold;
    display: block;
    text-align: left;
    width: 100%;
}

.ProductHomeImgContainer {
    position: relative;
}

.ProductHomeImgContainer:hover .ProductHomeImg2 {
    opacity: 0;
    transition: all 0.2s ease-in-out;
}

.ProductHomeImg {
    width: 70%;
    position: relative;
}

.ProductHomeImg2 {
    width: 70%;
    top: 0px;
    left: calc(50% - 35%);
    position: absolute;
    opacity: 1;
    transition: all 0.2s ease-in-out;
}

.ProductHome {
    text-align: center;
}

.ProductHome:hover .btn-cart {
    transform: scale(1, 1);
    transform-origin: bottom center;
}

.ProductHome .btn-cart {
    transform-origin: bottom center;
    transform: scale(1, 0);
    width: 70%!important;
}

.ProductHome p {
    text-align: left;
}

.Pagination a {
    font-size: 2.2vh;
    margin: 0.5vw;
    color: #4a4a4a;
}

.Pagination a:hover {
    text-decoration: none;
}