@import url("https://fonts.googleapis.com/css?family=Material+Icons");



#navbar a {
  color: black!important;
  text-transform: lowercase;
  text-decoration: none;
  margin: 0 10px;
  letter-spacing: 0.15em;
  font-family: 'Montserrat',Arial, Helvetica, sans-serif;
  display: inline-block;
  position: relative;
}
#navbar a:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: rgb(0, 0, 0);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
#navbar a:not(#brandName):hover:after { 
  width: 100%; 
  left: 0;
 }

@media (min-width: 992px) {
  #navbarholder {
    display: flex;
    justify-content: space-between;
  }
}

@media (max-width: 992px) {
  #underline {
    justify-content: flex-end !important;
    border-bottom: 1px solid #e6e6e6;
  }
}

@media (max-width: 880px) {
  .cartContainer {
    width: 60vw !important;
    background-color: white;
    min-width: 300px !important;
    /* top: 80px!important; */
  }

  .productinCart img {
    height: 6vw !important;
    float: left;
  }
}

@media (max-width: 574px) {
  .searchcontainer {
    width: 40vw !important;
  }
  .searchcontainer input {
    width: 80%;
  }
  #productsCart {
    width: auto !important;
  }
}

#navbarholder hr {
  margin: 4px;
}
#productsCart div {
  color: black;
  margin-top: 0.7vh;
  margin-left: 1vw;
}

#productsCart:link {
  color: black;
}

#productsCart:hover {
  cursor: pointer;
}

#adminLogo img,
#profileLogo img,
#searchLogo img {
  width: 60%;
  margin: auto;
  padding: 0;
}

#adminLogo {
  margin: 0;
  padding: 0;
}

#searchLogo {
  padding: 0.5vh;
}

#brandName {
  color: black;
}

#underline {
  display: flex;
}

#underline a:last-child {
  margin-left: auto;
}

.searchcontainer {
  margin-right: 1vw;
}

/* ------------ cart ---------*/

.cartContainer {
  position: absolute;
  right: 1vw;
  width: 35vw;
  background-color: white;
  top: 75px;
  z-index: 400;
  padding: 1.5vw;
  -webkit-box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.2);
}

.cartIcon {
  margin-top: 0.6vw;
}

.statutpanier {
  text-align: center;
}
.productinCart a {
  font-size: 0.9em;
}

.btn-cart {
  width: 100%;
  padding: 12px;
  text-align: center;
  background-color: black;
  border: 1px solid black;
  color: white;
  transition: 0.4s;
}

.productinCart {
  width: 100%;
}

.imgcontainer {
  width: 20%!important;
}

.productinCart img {
  height: 6vw;
  float: left;
}

.tableborder {
  border-bottom: 1px solid black;
  padding: 1vw 0;
}

.total {
  display: flex;
  justify-content: space-between;
  padding: 1vw;
}

.detailsproduct {
  display: flex;
  font-size: 0.9em;
  justify-content: space-between;
}
