.sugg-div {
  position: absolute;
  z-index: 999;
  background-color: white;
  border: 1px solid rgb(224, 224, 224);
  width: 500px;
  border-radius: 3px;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.05);

  /* A VOIR... */
  right: 288px;
}

.part-div {
  border-left: 0.5px solid rgb(224, 224, 224);
  /* padding: 0!important; */
}

.part-catsubcat {
  padding: 0 !important;
}

.sugg-header {
  display: block;
  margin-top: 10px;
  padding-left: 15px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.5);
}

.sugg-header i {
  color: rgba(0, 0, 0, 0.5);
}

.sugg-header:hover i {
  text-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.1);
}

.sugg-product {
  font-size: 10px;
  color: black;
}

.sugg-no-product {
  color: rgb(209, 209, 209);
  padding-left: 15px;
}

.sugg-product:hover {
  color: black;
  text-decoration: none;
}

.sugg-product:hover div {
  background-color: rgb(250, 250, 250);
}

.sugg-product_price {
  font-size: 15px;
  color: rgba(0, 0, 0, 0.5);
}

.sugg-cat {
  font-size: 15px;
  color: black;
  padding: 10px 15px;
}

.sugg-cat:hover {
  background-color: rgb(250, 250, 250);
}

.sugg-a:hover {
  color: black;
  text-decoration: none;
}
